@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
      padding-left: 25vw;
      padding-right: 25vw;
      margin-top: 15px;
      margin-bottom: 15px;
      border-radius: 15px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.messageErreur{
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 12px;
  border-radius: 5px;
  width: 30vw;
  text-align: center;
  height: 1.5rem;
  padding: 0.2rem 0;
}
.messageErreur > span{
  padding: 5px;
}

#redAlert{
  background-color: #fff4f4;
  color: #f60700;
}
#orangeAlert{
  background-color: #fff4f3;
  color: #d64d00;
}
#message{
  font-size: 16px;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}
.validationBtn{
  margin-top: 2rem;
  border-radius: 20px;
  background-image: linear-gradient(to right bottom, #0078f3 5%, #18753c 100%);
        background-size: 140% 140%;
			animation: gradient 2s ease infinite;
  height: 2.2rem;
  text-align: center;
  padding: 0.4rem 0;
  color: white;
  max-width: 60vw;
  min-width: 15vw;
  margin-left: auto;
  margin-right: auto;
}
.Alerte{
    text-align: justify;
}